fluid(property,
	max-size,
	min-size = null,
	max-break = null,
	min-break = 375)

	// Default max-break to the max-width
	if max-break == null
		max-break = max-w

	// The multiplier applied when no min-width was set
	fluid-auto-min-size-factor ?= 0.7
	if min-size == null
		min-size = max-size * fluid-auto-min-size-factor

	// Strip units
	unless typeof(max-size) == 'call'
		max-size = unit(max-size, '')
	unless typeof(min-size) == 'call'
		min-size = unit(min-size, '')
	unless typeof(max-break) == 'call'
		max-break = unit(max-break, '')
	unless typeof(min-break) == 'call'
		min-break = unit(min-break, '')

	// Return the calc expression that sets a scaling value
	ratio = (max-size - min-size) / (max-break - min-break)
	base-size = unit(min-size - ratio * min-break, 'px')
	scaling-size = ratio * 100vw
	{property} 'calc(%s + %s)' % (base-size scaling-size)

	// Cap it to min size when small
	@media(max-width: unit(min-break, 'px'))
		{property} unit(min-size, 'px')
		
	// Cap it to max size when large
	@media(min-width: unit(max-break, 'px'))
		{property} unit(max-size, 'px')